.infocards {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 50px;
}

.infocard {
  width: 362px;
  height: 215px;
  border-radius: 12px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
